<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management System</title>
    <link rel="stylesheet" href="../css/show-task.css">
</head>
<body>
    <div id="app">
        <h1>Task Management System</h1>
        <div class="task-form">
            <input type="text" v-model="newTask" placeholder="Enter new task">
            <button @click="addTask">Add Task</button>
        </div>
        <ul>
            <li v-for="(task, index) in tasks" :key="index" @click="toggleTask(index)" :class="{ completed: task.completed }">
                <span v-if="!task.editing"></span>
                <input v-else type="text" v-model="task.text" @blur="saveEditedTask(index)" @keyup.enter="saveEditedTask(index)">
                <button @click.stop="editTask(index)" v-if="!task.editing">Edit</button>
                <button @click.stop="deleteTask(index)">Delete</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>
